.nasa-container {
    margin: 90px auto 0px;
    padding: 0px 10px;

    @media screen and (min-width: $break-small) {
        padding: 0px 50px;
    }
}

.nasa-loading-icon {
    position: relative;
    top: 50px;
    left: 50%; 
    margin-left: -60px;
}

.nasa-loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;

    &.include-bg {
        background-color: lightgray; 
        opacity: 0.7;
    }
}

