.nasa-asset-container {
    margin: 0 auto 50px;
    max-width: $max-ui-width;

    .nasa-asset-heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .nasa-asset-title {
            margin-right: 10px;
            width: calc(100% - 85px);

            .icon {
                margin-right: 10px;
            }

            h3 {
                word-wrap: break-word;
            }
        }

        .btn {
            height: 42px;
        }
    }
    .nasa-asset-media {
        margin-bottom: 10px;

        img {
            width: 100%;
        }
    }
}