.nasa-search {
    .nasa-search-input {
        margin: 0 auto;
        max-width: $max-ui-width;
        padding: 0 20px;

        @media (max-width: $break-small) {
            padding: 0 30px;
        }
    }
    .nasa-search-results-container {
        position: relative;
    
        .nasa-search-results-count {
            text-align: center;
            margin: 15px 0 20px;
            padding-top: 15px;
        }

        .nasa-search-results {
            display: flex;
            flex-wrap: wrap;
            font-size: 16px;
            margin: 0 auto 150px;
            max-width: $max-ui-width;
            
            .nasa-search-result {
                box-sizing: border-box;
                padding: 0 20px 20px;
                width: 20%;
                
                .nasa-search-result-thumb {
                    border: solid 1px grey;
                    color: white;
                    position: relative;

                    &.no-thumb {
                        display: flex;
                        background-color: black;
                        height: 100px;
                        align-items: center;
                        justify-content: center;
                    }

                    img {
                        width: 100%;
                    }

                    .icon {
                        font-size: 32px;
                    }

                    .play-icon {
                        font-size: 32px;
                        left: calc(50% - 13.5px);
                        position: absolute;
                        text-shadow: 0 0 10px grey;
                        top: calc(50% - 16px);
                    }

                    &:hover, &:focus {
                        box-shadow: 0 0 10px grey;
                    }
                }

                @media (max-width: $break-small) {
                    padding: 0 30px 30px;
                    width: 100%;
                }
            }
        }

    }

    .pagination {
        margin-top: 10px;
    }
}